@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&family=Tapestry&display=swap');


* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: 'Tapestry', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::placeholder{
  font-size:13px;
}

input{
  font-size: "13px";
}

input[type="text"]
{
    font-size:14px;
}

input[type="number"]
{
    font-size:14px;
}
